@import url('../main.css');

.caseOpening {
    background-color: var(--gray);
    display: flex;
    min-height: 100vh;
}

.navigation img {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: 0.2s ease-out;
}

.navigation h2 {
font-size: 1.2rem;
text-align: center;
}

.navigation img:hover {
    transform: scale(0.98, 0.98);
    transition: 0.1s;
}

.navigation {
    position: fixed;
    min-height: 100vh;
    background-color: #101017;
    width: 300px;
    box-shadow: 2px 0 0 #1b1b2c;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation ul {
    width: 100%;
    padding-top: 40px;
}

.navigation ul li {
    list-style: none;
    width: 100%;
}

.navigation ul li:last-of-type {
    position: absolute;
    bottom: 30px;
}

.navigation ul li:hover {
    background-color: #202031;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li.active {
    background: var(--blue);
}

.game-phase {
    width: calc(100% - 300px);
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--gray);
}

.container-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    border: 2px solid var(--blue);
    box-shadow: 0px 0px 30px rgba(1, 141, 255, 1);
    background-color: var(--gray);
    border-radius: 8px;
}

.game-phase h1 {
    margin-bottom: 30px;
    font-size: 3rem;
    color: #01a2ff;
}

.images-game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: row;
}

.images-game img {
    margin-right: 4px;
    width: 250px;
    border: 2px solid #01a2ff;
    background-color: #0c0c14;
    transition: all 0.1s;
}

.images-game img:last-of-type {
    margin-right: 0px;
}

.button-game {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.button-game button {
    background-color: #1286c9;
    color: white;
    font-size: 1rem;
    padding: 16px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.button-game button:hover {
    transform: scale(1.01, 1.01);
    transition: .2s;
}

.button-game button:active {
    transform: scale(0.99, 0.99);
    transition: .2s;
}