@import url(../main.css);

.login {
    height: 100vh;
    background-image: url("../../images/Background-Login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.campo_login {
    background-color: var(--gray);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.campo_login h2 {
    margin-bottom: 50px;
    font-size: 1.8rem;
}

.campo_login .input_login {
    width: 400px;
    height: 95px;
}

.campo_login .eye_input {
    width: 400px;

}

.campo_login .eye_input input {
    position: absolute;
    width: 400px;
}

.campo_login .eye_input img {
    position: relative;
    width: 24px;
    top: 16px;
    left: 350px;
    cursor: pointer;
}

.campo_login input {
    background-color: white;
    padding: 16px;
    color: black;
    margin-top: 5px;
    border-radius: 8px;
    width: 100%;
}

.campo_login input:last-of-type {
    margin-bottom: 60px;
}

.campo_login input:hover {
    opacity: 0.93;
}

.campo_login input::placeholder {
    color: black;
    opacity: 0.7;
}

.campo_login .entrar_login {
    background-color: #1286c9;
    color: white;
    padding: 16px 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 150px;
    margin-top: 80px;
}

.campo_login .entrar_login:hover {
    transform: scale(1.02, 1.02);
    transition: 0.2s;
    opacity: 0.9;
}

.campo_login .entrar_login:active {
    transform: scale(0.98, 0.98);
    transition: 0.2s;
}

.campo_login .logo_login {
    margin-top: 30px;
    margin-bottom: 90px;
}

.cadastro_login {
    position: absolute;
    bottom: 10px;
}

.cadastro_login h3 {
    font-weight: 400;
    margin-right: 7px;
}

.h3_cadastro {
    color: #1286c9;
}
