@import url(../main.css);

.login {
    height: 100vh;
    flex-direction: row;
    background-image: url("../../assets/images/Background-Login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.campo_login {
    right: 0;
    background-color: var(--gray);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.campo_login .logo_login {
    position: absolute;
    top: 80px;
    transition: 0.2s;
}

.campo_login .logo_login:hover {
    transform: scale(1.03, 1.03);
    transition: 0.2s ease-out;
}

.campo_login h2 {
    margin-bottom: 50px;
    font-size: 1.8rem;
    font-weight: 700;
}

.campo_login .input_login {
    width: 400px;
    height: 95px;
}

.campo_login .eye_input {
    width: 400px;
}

.campo_login .eye_input input {
    position: absolute;
    width: 400px;
}

.campo_login .eye_input img {
    position: relative;
    width: 24px;
    top: 13px;
    left: 350px;
    cursor: pointer;
}

.campo_login input {
    background-color: transparent;
    border: 1px solid var(--blue);
    padding: 12px;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
}

.campo_login input:hover {
    opacity: 0.8;
}

.campo_login input::placeholder {
    color: white;
    opacity: 0.5;
}

.campo_login .entrar_login {
    background-color: #1286c9;
    color: white;
    padding: 16px 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 20px;
    margin-top: 60px;
}

.campo_login .entrar_login:hover {
    transform: scale(1.02, 1.02);
    transition: 0.2s;
    opacity: 0.9;
}

.campo_login .entrar_login:active {
    transform: scale(0.98, 0.98);
    transition: 0.2s;
}


.cadastro_login {
    position: absolute;
    bottom: 10px;
}

.cadastro_login h3 {
    font-weight: 400;
    margin-right: 7px;
}

.h3_cadastro {
    color: #1286c9;
    border-bottom: 0.5px solid var(--blue);
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.loading-div {
    position: absolute;
    bottom: 20%;
    width: 50px;
    display: block;
}

.loading-div img {
    height: 40px;
    width: 40px;
}


#loadingGif {
    display: none;
}