@import url('../main.css');

.cadastro {
    background-image: url('../../assets/images/Background-Cadastro.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: end;
}

.campo_cadastro {
    background-color: var(--gray);
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.campo_cadastro .logo_cadastro img {
    margin-top: 30px;
    margin-bottom: 20px;
}

.campo_cadastro h2 {
    margin-bottom: 40px;
    font-size: 1.8rem;
}

.campo_cadastro .input_cadastro {
    display: flex;
    flex-direction: column;
}

.campo_cadastro .input_cadastro input {
    background-color: white;
    padding: 12px;
    color: black;
    border-radius: 8px;
    width: 400px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.campo_cadastro .input_cadastro input:hover {
    opacity: .93;
}

.campo_cadastro .button_cadastro {
    background-color: var(--blue);
    color: white;
    padding: 16px 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 15px;
    transition: 0.2s;
}

.campo_cadastro .button_cadastro:hover {
    transform: scale(1.02, 1.02);
    transition: 0.2s;
    opacity: 0.95;
}

.campo_cadastro .button_cadastro:active {
    transform: scale(0.98, 0.98);
    transition: 0.2s;
}

.campo_cadastro .login_cadastro {
    position: absolute;
    bottom: 10px;
}

.campo_cadastro .login_cadastro h3 {
    font-weight: 400;
}

.login_cadastro .h3_login {
    color: var(--blue);
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.loading-div {
    width: 50px;
    margin: 0;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}