@import url('../main.css');

.cadastro {
    background-image: url('../../assets/images/Background-Cadastro.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: end;
}

.campo_cadastro {
    background-color: var(--gray);
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.campo_cadastro .logo_cadastro {
    position: absolute;
    top: 50px;
}

.campo_cadastro .logo_cadastro:hover {
    transform: scale(1.03, 1.03);
    transition: 0.2s;
}

.campo_cadastro h2 {
    margin-bottom: 40px;
    font-size: 1.8rem;
    font-weight: 700;
}

.campo_cadastro .input_cadastro {
    display: flex;
    flex-direction: column;
}


.campo_cadastro .input_cadastro input {
    background-color: transparent;
    border: 1px solid var(--blue);
    padding: 12px;
    color: white;
    border-radius: 8px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.campo_cadastro .eye_input {
    width: 400px;
}

.campo_cadastro .eye_input input {
    position: absolute;
    width: 400px;
}

.campo_cadastro .eye_input img {
    position: relative;
    width: 24px;
    top: 13px;
    left: 350px;
    cursor: pointer;
}

.campo_cadastro .confirmacaoSenha {
    margin-top: 35px;
}

.campo_cadastro .input_cadastro input:hover {
    opacity: .8;
}

.campo_cadastro .input_cadastro input::placeholder {
    color: white;
    opacity: 0.5;
}

.campo_cadastro .button_cadastro {
    background-color: var(--blue);
    color: white;
    padding: 16px 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 50px;
    transition: 0.2s;
}

.campo_cadastro .button_cadastro:hover {
    transform: scale(1.02, 1.02);
    transition: 0.2s;
    opacity: 0.95;
}

.campo_cadastro .button_cadastro:active {
    transform: scale(0.98, 0.98);
    transition: 0.2s;
}

.campo_cadastro .login_cadastro {
    position: absolute;
    bottom: 10px;
}

.campo_cadastro .login_cadastro h3 {
    font-weight: 400;
}

.login_cadastro .h3_login {
    color: var(--blue);
    border-bottom: 0.5px solid var(--blue);
}

.alerta_erro {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: var(--gray);
    opacity: 0.85;
    animation: aparecer 0.6s;
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.85;
    }
}

.alerta_erro h2 {
    animation: aparecer 0.6s;
    font-size: 4rem;
}

.bolinhas {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.bolinha {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    margin-right: 20px;
    position: relative;
    animation: carregamento 2s infinite;
}

.bolinha1 {
    animation-delay: 0.3s;
}

.bolinha2 {
    animation-delay: 0.5s;
}

.bolinha3 {
    animation-delay: 0.8s;
}

@keyframes carregamento {
    0%   {top: 0px;}
    50%  {top: 50px;}
    100% {top: 0px;}
  }

/* .card_erro { */
    /* 
    display: block;
    background-color: rgb(13, 14, 20);
    color: white;
    width: 230px;
    border-radius: 4px;
    border: var(--blue) 3px solid;
    padding: 10px; */
/* } */

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.loading-div {
    position: absolute;
    bottom: 130px;
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}