@import url(../main.css);
@import url(../CaseOpening/CaseOpening.css);

/* pagina mural */

.avisoCaptura {
  display: flex;
  justify-content: center;
}

.dash-right {
  margin-left: 300px;
  width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 80%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  
  color: #01a2ff;
  text-shadow: 0px 0px 10px rgba(0, 132, 255, 0.5);
  font-size: 2rem;
}

.dash-right .avisos .container .div-form label {
  font-size: 1.1rem;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form input {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  height: 35px;
  
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  background-color: #0e0e16;
  border: 1px solid #01a2ffd5;
  box-shadow: 0px 0px 5px #01a2ff;
  padding: 5px 10px;
  font-size: 1rem;
}

.dash-right .avisos .div-form textarea {
  margin-top: 5px;
  width: 100%;
  
  box-shadow: 0px 0px 5px #01a2ff;
  border: 1px solid #01a2ffd5;
  background-color: #0e0e16;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.dash-right .avisos .div-form button {
  margin-top: 10px;

  background-color: #1286c9;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  
  padding: 12px 30px;
  
  cursor: pointer;
  
  transition: 0.2s;
}

.dash-right .avisos .div-form button:hover {
  transform: scale(1.02);
  transition: .2s;
}

.dash-right .avisos .div-form button:active {
  transform: scale(0.98);
  transition: .2s;
}

.dash-right .avisos h2 {
  margin-top: 50px;
  margin-bottom: 20px;

  color: #01a2ff;
  text-shadow: 0px 0px 10px rgba(0, 132, 255, 0.5);
  font-size: 1.5rem;
}

.publicacao-btn-editar {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #01a2ff;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 1px solid rgb(0, 140, 255, 0.5);
  border-bottom: 5px solid #00a2ff;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: var(--gray);
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}