.cards {
    width: 100%;

    padding: 80px 64px;

    background-color: #101017;

    /* background: rgb(5, 0, 30);
    background: -moz-linear-gradient(180deg, rgba(5, 0, 30, 1) 78%, rgba(1, 0, 5, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(5, 0, 30, 1) 78%, rgba(1, 0, 5, 1) 100%);
    background: linear-gradient(180deg, rgba(5, 0, 30, 1) 78%, rgba(1, 0, 5, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#05001e", endColorstr="#010005", GradientType=1); */
}

.cards .card {
    height: 250px;
    width: 350px;

    margin-right: 64px;

    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);

    transition: 0.3s;
    position: relative;
    /* opacity: 0;
    transform: translateY(-90px); */
}

.cards .card h3 {
    position: absolute;
    height: 250px;
    width: 450px;
    width: 100%;
    word-wrap: break-word;
    opacity: 0;
    transition: 0.8s;
    text-align: center;
    display: flex;
    align-items: flex-end;
    padding: 12px;
    background-image: linear-gradient(to top, #000000b6, rgba(255, 255, 255, 0));
    display: flex;
    justify-content: center;
}

.cards .card h3:hover {
    transition: 0.8s;
    opacity: 1;
}

.cards .card:last-of-type {
    margin-right: 0;
}

.cards .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cards .flex {
    position: relative;
    height: 270px;
    overflow: hidden;
}

.cards .slider {
    position: absolute;
    margin-top: 10px;
    transition: 0.6s;
}

.cards .i1 {
    left: 1150px;
    opacity: 0;
}

.cards .i2 {
    left: 750px;
}

.cards .i3 {
    left: 378px;
}

.cards .i4 {
    left: 5px;
}

.cards .i5 {
    left: -500px;
    opacity: 0;
}