.banner .background {
    width: 100%;
    height: 524px;

    background-image: url("../../assets/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .content {
    position: relative;

    border-bottom: 4px solid #1286c9;
}

.banner .divider {
    position: absolute;

    top: calc(100% - 71px/2);

    left: 50%;
    transform: translateX(-50%);

    background-color: #1286c9;

    padding: 4px 16px;

    border-radius: 12px;

    font-size: 3.2rem;
    font-weight: 600;
}

