.rating {
    padding: 40px 0;

    background-color: #101017;
}


.rating .divider {
    width: 100%;
    height: 2px;

    background-color: #1286c9;

    margin-bottom: 40px;
}


.rating .divider .text-h2 {
    position: absolute;

    height: auto;

    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0 20px;

    background-color: #101017;

    text-align: center;

    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.rating p {
    margin-top: 20px;

    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    text-indent: 32px;
}

.rating a {
    color: rgb(0, 174, 255);
    text-decoration: underline;
}

.rating .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating .gap-120 {
    margin-bottom: 60px;
    margin-top: 80px;
    flex-direction: row-reverse;
}

.rating .iframe_rating img {
    position: relative;
}

.rating .iframe_rating h3 {
    opacity: 0;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

.rating .iframe_rating .fer {
    width: 100px;
    height: 100%;
    top: 0;
    left: 35px;
    text-shadow: 2px 0px 5px black;
}

.rating .iframe_rating .coldzera {
    width: 110px;
    height: 100%;

    padding-top: 80px;
    top: 0px;
    left: 120px;
    text-shadow: 2px 0px 5px black;
}

.rating .iframe_rating .fallen {
    width: 120px;
    height: 100%;

    padding-bottom: 50px;
    top: 0;
    left: 190px;
    text-shadow: 2px 0px 5px black;
}

.rating .iframe_rating .taco {
    width: 100px;
    height: 100%;

    top: 0px;
    left: 290px;
    text-shadow: 2px 0px 5px black;
}

.rating .iframe_rating .fnx {
    width: 100px;
    height: 100%;

    padding-bottom: 30px;
    top: 0;
    left: 350px;
    text-shadow: 2px 0px 5px black;
}

.rating .iframe_rating h3:hover {
    opacity: 1;
    transition: 0.3s;
}
