.rating {
    padding: 40px 0;

    background-color: #101017;
}


.rating .divider {
    width: 100%;
    height: 2px;

    background-color: #1286c9;

    margin-bottom: 40px;
}


.rating .divider .text-h2 {
    position: absolute;

    height: auto;

    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0 20px;

    background-color: #101017;

    text-align: center;

    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.rating p {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.rating .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating .text p {

}

.rating .gap-120 {
    margin-bottom: 60px;
    margin-top: 80px;
    flex-direction: row-reverse;
}

