footer {
    width: 100%;
    height: 300px;
    background-color: #03000f;
}

.footer .container_footer {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.footer .image__footer {
    order: 1;
    display: flex;
    align-items: center;
}

.footer .image_footer {
    display: flex;
    width: 100%;
    height: auto;
}

.footer .links {
    order: 2;
    display: flex;
    flex-direction: column;
}

.footer .social_media {
    order: 3;
}

.footer h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.footer li {
    font-size: 1rem;
    margin-bottom: 6px;
}